<html lang="" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jade_uno</title>
    <!-- bower:css-->
    <!-- endbower-->
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!--[if lt IE 9]>
    <script src="../bower_components/html5shiv/dist/html5shiv.js"></script><![endif]-->
  </head>
  <body><script id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.18.11'><\/script>".replace("HOST", location.hostname));
//]]></script>

    <main id="main-wrapper">
      <head>
        <link href="../assets/css/Flat-UI-master/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../assets/css/Flat-UI-master/dist/css/flat-ui.min.css" rel="stylesheet">
        <content class="container col-md-12 col-xs-12 col-lg-12">
          <nav class="navbar navbar-default">
            <h3 class="col-md-10 col-xs-10 col-lg-10">Brand</h3>
            <div></div>
            <div id="dropbutton" class="btn-group">
              <button id="btn-cir" type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle"><i class=" fui-user img-rounded"> </i><span class="caret"></span></button>
              <ul id="droplist" role="menu" class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
              </ul>
            </div>
          </nav>
        </content>
        <div class="row"></div>
        <div class="row text-center"></div>
        <div class="col-md-12 container-fluid">
          <h1 id="spacing-title-nav" class="text-center">Title</h1>
        </div>
        <content class="content">
          <div class="row">
            <div class="col-md-3 col-lg-3 col-xs-3 conj1"></div>
            <div class="col-md-3 col-lg-3 col-xs-3">
              <p>label 1</p>
              <button class="btn btn-default btn-lg">Button1</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-lg-3 col-xs-3 conj1"></div>
            <div class="col-md-3 col-lg-3 col-xs-3">
              <p>label 2</p>
              <button class="btn btn-info btn-lg">Button2</button>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-6"></div>
          </div>
          <div class="row">
            <div class="col-md-3 col-lg-3 col-xs-3 conj1"></div>
            <div class="col-md-3 col-lg-3 col-xs-3">
              <p>label_3</p>
              <input type="text" placeholder="Default" class="form-control">
            </div>
            <div class="col-md-6 col-lg-6 col-xs-6"></div>
          </div>
          <div class="row">
            <div class="col-md-3 col-lg-3 col-xs-3 conj1"></div>
            <div class="col-md-3 col-lg-3 col-xs-3">
              <p>label_4</p>
              <input type="text" placeholder="Default" class="form-control">
            </div>
            <div class="col-md-6 col-lg-6 col-xs-6"></div>
          </div>
        </content>
        <div id="slider" class="row col-md-6 col-lg-6 col-xs-6"></div>
      </head>
      <div class="navbar navbar-default navbar-fixed-bottom">
        <p>Accenture Limited 2017</p>
      </div>
      <script src="../assets/css/Flat-UI-master/dist/js/vendor/jquery.min.js"></script>
      <script src="../assets/css/Flat-UI-master/dist/js/flat-ui.min.js"></script>
    </main>
    <!-- bower:js-->
    <!-- endbower-->
    <script src="assets/js/main.js"></script>
  </body>
</html>
