
<!DOCTYPE html>
<html lang="" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jade_uno</title>
    <!-- bower:css-->
    <!-- endbower-->
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!--[if lt IE 9]>
    <script src="../bower_components/html5shiv/dist/html5shiv.js"></script><![endif]-->
  </head>
  <body><script id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.18.11'><\/script>".replace("HOST", location.hostname));
//]]></script>

    <main id="main-wrapper">
      <head>
        <meta charset="uft-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--loading bootstrap-->
        <link href="../assets/css/Flat-UI-master/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!--loading flat-ui-->
        <link href="../assets/css/Flat-UI-master/dist/css/flat-ui.min.css" rel="stylesheet">
        <content class="container col-md-12 col-xs-12 col-lg-12">
          <nav class="navbar navbar-default">
            <p>Brand</p>
          </nav>
          <div class="col-md-3"></div>
        </content>
        <div class="col-md-1"></div>
        <div class="col-md-1"> </div>
        <div class="btn-group">
          <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><i class="img-rounded"></i><span>(class="caret")</span></button>
          <ul>
            <li> <a href="#">action1</a></li>
          </ul>
        </div>
        <Div class="row">
          <div class="col-offset-1">
            <content class="col-md-10 content-fluid">
              <p>content_one
                <ul>
                  <li> <a>contenido</a></li>
                </ul>
              </p>
            </content>
          </div>
        </Div>
      </head>
      <div class="navbar navbar-default navbar-fixed-bottom"></div>
    </main>
    <!-- bower:js-->
    <!-- endbower-->
    <script src="assets/js/main.js"></script>
  </body>
</html>
